@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Inter";
    background-color: #FBFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
    position: relative;
}

.placeholder-container {
    width: 80%;
    font-size: 2em;
    color: #888;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    text-align: center;
    position: relative;
    word-break: break-word;
    white-space: pre-wrap;
}

.letter, .space {
    display: inline-block;
    transition: color 0.2s, background-color 0.2s;
    min-height: 1em;
    position: relative;
}

.space {
    width: 0.3em;
}

.cursor {
    width: 2px;
    height: 1em;
    background-color: black;
    animation: blink 1s step-end infinite;
    position: absolute;
    display: inline-block;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.difficulty-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    font-size: 1.2em;
    color: #1976D2;
    text-align: center;
}

.custom-button {
    position: fixed;
    top: 72px;
    right: 80px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #1976D2;
    border-radius: 10px;
    font-size: 1.2em;
    color: #1976D2;
    cursor: pointer;
}

.reveal-button {
    position: fixed;
    top: 72px;
    right: 200px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #1976D2;
    border-radius: 10px;
    font-size: 1.2em;
    color: #1976D2;
    cursor: pointer;
}

.dropdown {
    font-size: 1em;
    padding: 5px 10px;
    border-style: solid;
    border-color: #1976D2;
    color:#1976D2;
    border-radius: 10px;
}

.custom-input-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #1976D2;
    border-radius: 10px;
    z-index: 1;
}

.custom-input {
    width: 80%;
    height: 50px;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #1976D2;
    color: #1976D2;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 44px;
    background-image: linear-gradient(to right, #1976D2 , #5B21B6);
    box-shadow: 0px 1px 10px #D6D7D7;
  }
  
  .topnav a {
    float: left;
    position: absolute;
    left: 70px;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2em;
    text-decoration: none;
  }
  
@keyframes pulse {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: lightgrey;
    }
    100% {
        background-color: transparent;
    }
}

.pulse {
    animation: pulse 1s infinite;
}

.review-box {

    width: 400px;
    height: 200px;
    font-size: 1em;
    padding: 14px;
    text-align: left;
    position: fixed;
    top: 25%;
    background-color: #FFFFFF;
    border: 2px solid #1976D2;
    color: #1976D2;
    border-radius: 10px;
}

.titledropdown {
    font-size: 1.9em;
    padding: 5px 2px;
    background-color: #FBFCFC;
    border: 2px solid #5B21B6;
    position:absolute;
    top:72px;
    left:80px;
    width: 500px;
    border-style: none none solid none;
    font-weight: bold;
    color:#5B21B6;
}

#progressbar {
    background-color: white;
    height: 12px;
    width: 89%;
    border-radius: 10px;
    border: 1px solid #1976D2;
    position:absolute;
    box-shadow: 0px 2px 5px #D6D7D7;
    top:150px;
    left:80px;
  }
  
  #progressbar>div {
    background-color: #1976D2;
    width: 40%;
    /* need to adjust with js */
    height: 12px;
    border-radius: 10px;
  }